<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>759600822072-0o81bshc5465s02ucj4en8r74ebbet2h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.759600822072-0o81bshc5465s02ucj4en8r74ebbet2h</string>
	<key>API_KEY</key>
	<string>AIzaSyCEUx0XESXGX1f6ls-3juQu0mAIuYXcE4w</string>
	<key>GCM_SENDER_ID</key>
	<string>759600822072</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>il.co.hyperactive.SwiftCalc</string>
	<key>PROJECT_ID</key>
	<string>maccalculator-f497d</string>
	<key>STORAGE_BUCKET</key>
	<string>maccalculator-f497d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:759600822072:ios:3ce53f29f97563b5b033cd</string>
	<key>DATABASE_URL</key>
	<string>https://maccalculator-f497d.firebaseio.com</string>
</dict>
</plist>